body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    justify-content: center;
}

a:active,
a:hover,
a {
  text-decoration: none;
  padding: 4px;
  margin: 5px;
}

a{
    background-color: #292929;
    color: white;
    border-radius: 5px;
    transition-duration: 300ms;
}

a:hover{
    background-color: white;
    color: #292929;
    transition-duration: 300ms;
}
 
form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
 
input[type="text"] {
    padding: 5px;
    margin-right: 10px;
}
 
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

button:hover {
    background-color: #38803a;
}

li{
    display: grid;
    grid-template-columns: 50px 50% 1fr 1fr 1fr;
    justify-content: center;
    width: 800px;
    height: auto;
    border: solid 1px black;
    border-radius: 10px;
    margin-top: 10px;
}
ul{
    list-style-type: none;
}